---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import axios from "axios";

// Variables para la llamada a la API
const token = import.meta.env.SECRET_API;
const url = "https://api.github.com/user";

// Obtener la info de mi usario de Github
const res = await axios.get(url, {
  headers: {
    Authorization: `Bearer ${token}`,
    Accept: "application/vnd.github.v3+json",
  },
});

const data = res.data;

// Obtener las organizaciones

const url_org = data.organizations_url;

const res_org = await axios.get(url_org, {
  headers: {
    Authorization: `Bearer ${token}`,
  },
});

const organizations = res_org.data;

// Obtener las info de las organizaciones
---

<!-- HTML -->
<div class="card">
  <div class="card_container-1">
    <Image
      loading="eager"
      class="profile_card"
      src={data.avatar_url}
      alt="github-profile"
      width="150"
      height="150"
    />
    <h1 class="profile_name">Matias Sio Cordich</h1>
    <h3 class="profile_githubname">{data.login}</h3>
    <div class="links">
      <a aria-label="github-icon-link" href={data.html_url} target="_blank">
        <Icon name="githubicon" size={20} />
        Github
      </a>
      <a
        aria-label="linkein-icon-link"
        href="https://www.linkedin.com/in/matiassiocordich/"
        target="_blank"
      >
        <Icon name="linkedinicon" size={20} />
        Linkedin
      </a>
      <a aria-label="portfolio-icon-link" href={data.blog} target="_blank">
        <Icon name="portfolioicon" size={20} />
        Portfolio
      </a>
    </div>
  </div>
  <div class="line"></div>

  <div class="card_container-2">
    <section>
      <h3>About</h3>
      <p>{data.bio}</p>
    </section>

    <section>
      <h3>Location</h3>
      <p>{data.location}</p>
    </section>

    <ul class="organizations">
      <h3>Organizations</h3>
      {
        organizations.map(async (org: any) => {
          const orgDetailsUrl = org.url;

          const orgDetailsResponse = await axios.get(orgDetailsUrl, {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          });

          const orgDetails = orgDetailsResponse.data;

          return (
            <li>
              <div class="org_details">
                <Image
                  loading="eager"
                  src={orgDetails.avatar_url}
                  alt="organization-avat-ed45d"
                  width="40"
                  height="40"
                />
                <p>{orgDetails.name}</p>
                <a href={orgDetails.blog} target="_blank">
                  Site
                </a>
              </div>
            </li>
          );
        })
      }
    </ul>
    <section class="contact_section">
      <a href="mailto:m.scordich@gmail.com" class="btn_contact">
        <Icon name="messageicon" size={20} />
        Contact me
      </a>
    </section>
  </div>
</div>
<!-- STYLE -->

<style>
  .card {
    background-color: var(--white);
    border: 3px solid var(--grey);
    border-radius: 0.9rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 95%;
    height: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  /* ------------- CARD CONTAINER 1 -------------   */

  .card_container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .profile_name,
  .profile_githubname {
    width: 95%;
    color: var(--black);
    text-align: left;
  }

  .profile_name {
    font-size: 3.5rem;
    font-weight: 700;
  }

  .profile_githubname {
    font-weight: 600;
    font-size: 1.6rem;
    font-family: var(--s-font);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--blue);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--white);
    font-family: var(--s-font);
  }

  .profile_card {
    padding: 0.3rem;
    border-radius: 50%;
    border: 3px solid var(--blue);
  }

  .line {
    border-top: 2px dotted var(--blue);
    width: 100%;
    height: 0.2rem;
  }

  /* ------------- CARD CONTAINER 2 -------------   */

  .card_container-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .card_container-2 p {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 600;
    font-family: var(--s-font);
  }

  .organizations {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .org_details {
    display: flex;
    gap: 1rem;
  }

  .btn_contact {
    width: fit-content;
  }

  .contact_section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  /* ------------- MEDIA QUERIES -------------   */

  @media (min-width: 900px) {
    .card {
      flex-direction: row;
    }

    .line {
      border-top: none;
      border-left: 2px dotted var(--blue);
      width: .2rem;
      height: 35rem;
    }
  }
</style>
